{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid techfont">
    {% for post in post_list %}
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="img-responsive" src="{{post.post_img.url}}" alt="Card image cap" style="width:290px;height:260px;">
                    </div>
                    <div class="card-body">
                        <h1 class="card-title"> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <p class="card-text">{{ post.text|safe|linebreaksbr }}</p>
                        <small> Published on: {{post.published_date|date:"d M Y"}}</small> <small>, author: {{ post.author|safe }}</small>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{post.approve_comments.count}}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
